
        <html>

        <head>
            <title>Scatter Chart</title>
            <link href='table.css' rel='stylesheet' type='text/css' media='screen' />
            <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
            <script src='utils.js'></script>
            <style>
            canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            }
            </style>
        </head>

        <body>
        <div style='width:50%''>

        <table cellspacing='0' cellpadding='0' class='demo-table' >
        <tr>
            <th bgcolor='b0c4de'>Best Area</th>
            <th bgcolor='b0c4de'>Best Gate Count</th>
            <th bgcolor='b0c4de'>Best Delay</th>
        </tr>
        <tr>
            <td>35990.77</td>
            <td>3929.0</td>
            <td>3739.59</td>
        </tr>
        <tr>
            <td>AREA 1</td>
            <td>AREA 0</td>
            <td>AREA 3</td>
        </tr>
        </table><br>

        <table cellspacing='0' cellpadding='0' class='demo-table' >
        <tr>
            <th bgcolor='b0c4de'>Strategy</th>
            <th bgcolor='b0c4de'>Gate Count</th>
            <th bgcolor='b0c4de'>Area (um^2)</th>
            <th bgcolor='b0c4de'>Delay (ps)</th>

            <th bgcolor='b0c4de'>Gates Ratio</th>
            <th bgcolor='b0c4de'>Area Ratio</th>
            <th bgcolor='b0c4de'>Delay Ratio</th>

        </tr>
        
<tr>
<td>DELAY 0</td>
<td>6236.0</td>
<td>57820.45</td>
<td>5700.1</td>

<td>1.587</td>
<td>1.606</td>
<td>1.524</td>
</tr>
<tr>
<td>DELAY 1</td>
<td>6157.0</td>
<td>55645.87</td>
<td>5822.84</td>

<td>1.567</td>
<td>1.546</td>
<td>1.557</td>
</tr>
<tr>
<td>DELAY 2</td>
<td>6038.0</td>
<td>54482.25</td>
<td>5757.51</td>

<td>1.536</td>
<td>1.513</td>
<td>1.539</td>
</tr>
<tr>
<td>DELAY 3</td>
<td>6287.0</td>
<td>58496.1</td>
<td>5702.83</td>

<td>1.6</td>
<td>1.625</td>
<td>1.524</td>
</tr>
<tr>
<td>DELAY 4</td>
<td>4426.0</td>
<td>43555.52</td>
<td>6467.18</td>

<td>1.126</td>
<td>1.21</td>
<td>1.729</td>
</tr>
<tr>
<td>AREA 0</td>
<td bgcolor='#ccff99'>3929.0</td>
<td>36159.68</td>
<td>7956.59</td>

<td bgcolor='#fffacd'>1.0</td>
<td bgcolor='#fffacd'>1.004</td>
<td>2.127</td>
</tr>
<tr>
<td>AREA 1</td>
<td>3934.0</td>
<td bgcolor='#ccff99'>35990.77</td>
<td>8384.74</td>

<td bgcolor='#fffacd'>1.001</td>
<td bgcolor='#fffacd'>1.0</td>
<td>2.242</td>
</tr>
<tr>
<td>AREA 2</td>
<td>3979.0</td>
<td>36379.89</td>
<td>8497.95</td>

<td bgcolor='#fffacd'>1.012</td>
<td bgcolor='#fffacd'>1.01</td>
<td>2.272</td>
</tr>
<tr>
<td>AREA 3</td>
<td>6563.0</td>
<td>47121.44</td>
<td bgcolor='#ccff99'>3739.59</td>
<td>1.67</td>
<td>1.309</td>
<td bgcolor='#fffacd'>1.0</td>
</tr>
</table>

        </div>
            <div style='width:65%''>
            <canvas id='myChart'></canvas>
            </div>



        <script>
        var ctx = document.getElementById('myChart');
        var color = Chart.helpers.color;
        var scatterChart = new Chart(ctx, {
            type: 'scatter',

            data: {
                datasets: [
        

                    {
                        label: 'DELAY 0',
                        borderColor: window.chartColors.red,
                        backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 57820.45,
                            y: 5700.1
                        }]
                    },
            

                    {
                        label: 'DELAY 1',
                        borderColor: window.chartColors.olive,
                        backgroundColor: color(window.chartColors.olive).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 55645.87,
                            y: 5822.84
                        }]
                    },
            

                    {
                        label: 'DELAY 2',
                        borderColor: window.chartColors.yellow,
                        backgroundColor: color(window.chartColors.yellow).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 54482.25,
                            y: 5757.51
                        }]
                    },
            

                    {
                        label: 'DELAY 3',
                        borderColor: window.chartColors.green,
                        backgroundColor: color(window.chartColors.green).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 58496.1,
                            y: 5702.83
                        }]
                    },
            

                    {
                        label: 'DELAY 4',
                        borderColor: window.chartColors.blue,
                        backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 43555.52,
                            y: 6467.18
                        }]
                    },
            

                    {
                        label: 'AREA 0',
                        borderColor: window.chartColors.purple,
                        backgroundColor: color(window.chartColors.purple).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 36159.68,
                            y: 7956.59
                        }]
                    },
            

                    {
                        label: 'AREA 1',
                        borderColor: window.chartColors.grey,
                        backgroundColor: color(window.chartColors.grey).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 35990.77,
                            y: 8384.74
                        }]
                    },
            

                    {
                        label: 'AREA 2',
                        borderColor: window.chartColors.black,
                        backgroundColor: color(window.chartColors.black).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 36379.89,
                            y: 8497.95
                        }]
                    },
            

                    {
                        label: 'AREA 3',
                        borderColor: window.chartColors.aqua,
                        backgroundColor: color(window.chartColors.aqua).alpha(0.2).rgbString(),
                        pointRadius: 7,
                        data: [{
                            x: 47121.44,
                            y: 3739.59
                        }]
                    },
            

                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Synthesis Strategies Comparison'
                },
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        scaleLabel: {
                            display: true,
                            labelString: 'Area'
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        position: 'left',
                        scaleLabel: {
                            display: true,
                            labelString: 'Delay'
                        }
                    }]
                }
            }
        });
        </script>

        </body>

    </html>
    
